
    <form class="options" [formGroup]='options'>
        <!--
          
        -->
        <div class="options-choose">
            <select id='typpy' class="type" formControlName='method'>
                <option value="dijkstra" selected="selected">Dijkstra</option>
                <option value="A*">A*</option>
            </select>       
            

            <input type="range" class="ratio-size" formControlName='size' min="9" max="81" value="5">
            <input type="number" class="speed" formControlName='speed' value="40">   
            <div class="apply" (click)='apply()'>Apply</div>           
        </div>
        <div class="accept" (click)='accept()'> START </div>

        
    </form>
    <div class="tools">
        <div (click)='setMode(0)'><p>Walls</p></div>
        <div (click)='setMode(1)'><p>Start</p></div>
        <div (click)='setMode(2)'><p>End</p></div>
    </div>
    <div class="cancel" (click)='clear()' *ngIf='end.isActive == 2'>
        <span></span>
        <span></span>
    </div> <!-- ngIf po starcie mozna usunąć-->
    <div class="content">
        <canvas id='canvas'></canvas>
    </div>  


